*{
    box-sizing: border-box;
}
/*Base de cores usadas no site, representadas por variável*/
:root{
    --background-color:white;
    --color-logo:blue;
    --color-back:white;
    --color-menu:blue;
    --color-text:black;
    --color-menu-hover:black;
    --color-botom-hover:white;
}
/*Corpo do Site*/
body{}
/*Barra superior onde está presente o menu superior*/
.navbar{
    display: flex;
    flex-flow: row wrap;
    height:100px;
    background-color: var(--color-back);
    justify-content: center;
    align-items: center;
}
/*Título do Site*/
.logo{
    flex:20%;
    margin-left: 10%;
    text-align: left;
    color: blue;
    font-size: 20px;
}
.logo h1{
    color: var(--color-logo);
    font-size: 30px;
}
/*Menu Superior*/
.menu{
    flex:70%;
    text-align: right;
    padding:20px;
    font-family:"Roboto", sans-serif;

}
.menu a{
    color:var(--color-menu);
    text-decoration: none;
    font-size:17px;
    padding: 20px 16px;
}
/*O que acontece quando passamos o Mause em cima das opções do Menu*/
.menu a:hover{
    color:var(--color-menu-hover);
    border-top: 4px solid var(--color-menu-hover);    
}
/*Botão do Menu*/
#botao{
    background-color:var(--color-menu);
    padding:10px 25px;
    color:var(--color-botom-hover);
    margin-right: 10%;
    margin-left: 5%;
}
/*Quando o Mause está acima do botão*/
#botao:hover{
    border:none;
    background:var(--color-menu-hover);
}
/*Meio do Site com Pequeno Texto e Imagem*/
.header{
    height: 500px;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    background:var(--background-color);
    padding-top:100px;
}

.headline{
        margin-left:10%;
        flex:40%;
        color:var(--color-text) ;
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    padding:0;
    margin:0 ;
}
.headline p{
    text-align: left;
}
/*Botão para baixar o Game na Playstore*/
.baixe{
    display:inline-block;
    background: var(--color-menu);
    padding:20px;
    color:var(--color-botom-hover);
    text-transform: uppercase;
    border-radius: 7px;
    text-decoration: none;
}
/*Quando o Mause está acima*/
.baixe:hover{
    background:var(--color-menu-hover);
}
/*Imagem do protagonista ao lado do texto*/
.img-headline{
     margin-right:10%;
     flex:40%;
     text-align: center;
}
/*Parte com Menu Flutuante*/
section{
    display: inline-block;
    margin-top:150px;
    margin-left:5%;
    margin-right:5%;
    height:600px;
    padding:5%;
    text-align:center;
}
section h2{
    width:100%;
    font-size:50px;
    margin:0;
    font-family:"Roboto", sans-serif;
    font-weight:bold;
    color:blue;
}

.partes{
    display: inline-block;
    margin-top:5%;
}
/*Menu Flutuante*/
.card{
    display:inline-block;
    width: 30%;
    padding:20px;
    margin:1%;
    border:1px solid blue;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-text);
}
/*Quando está com Mause emcima do Menu Flutuante*/
.card:hover{
    background:var(--color-botom-hover);
    color:var(--color-menu-hover);
    padding:50px;
}
.card:hover img{
    display:none;
}

.card:hover .card-text{
display:none;
}
/*As partes "Oculto" são revelados quando passamnos o Mouse em cima*/
.card:hover .oculto{
    display: block;
}

.oculto{
    display:none;
}
/*Edição para que os botões dentro dos Menus sejam diferentes dos demais*/
.click{
    display:inline-block;
    background:white;
    padding:20px;
    color:var(--color-menu-hover);
    text-transform: uppercase;
    border-radius: 7px;
    text-decoration: none;
}
/*Quando o Mause está em cima do Botão*/
.click:hover{
    background:var(--color-botom-hover);}

/*Rodapé*/
footer{
    margin-top:100px;
    height:350px;
    background-image:linear-gradient(180deg,#180f4A,#090422,black);
    text-align: center;
    border-top: 10px solid blue;
}
/*Título no Rodapé*/
.logo-rodape{
    padding: 100px;
}
/*Título no Rodapé*/
.titulo{
    color: white;
    font-size: 30px;
}
/*Programação específica para que os cards das páginas "Peronagens.html" e "Cartas.html"*/
.card2{
    display:inline-block;
    width: 30%;
    padding:20px;
    margin:1%;
    border:1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}

